%h1 Listing thoughts

%table
  %tr
    %th Name
    %th Description
    %th Picture
    %th
    %th
    %th

  - @thoughts.each do |thought|
    %tr
      %td= thought.name
      %td= thought.description
      %td= thought.picture
      %td= link_to 'Show', thought
      %td= link_to 'Edit', edit_thought_path(thought)
      %td= link_to 'Destroy', thought, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Thought', new_thought_path
